#map {
  height: 91vh;
  width: 100vw;
  position: fixed;
}
.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
  max-width: 70vw;
  max-height: 50vh;
  overflow-y: auto;
  transition: all 0.2s ease;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  position: absolute;
  left: 5.5px;
  top: 0.7vh;
  width: 18px;
  height: 18px;
  background-image: url('./navigation.png');
  cursor: pointer;
}