#map {
  height: 91vh;
  width: 100vw;
  position: fixed;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  position: absolute;
  left: 5.5px;
  top: 0.7vh;
  width: 18px;
  height: 18px;
  background-image: url('./navigation.png');
  cursor: pointer;
}